@import url('https://martcho.uk/lib/martcho.uk.css');

body {
    background: var(--bg) !important;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: .5rem;
}

.init-form-inputs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    flex-direction: row;
    group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.epoch {
    position: absolute;
    top: 0;
    font-size: 2rem;
    color: var(--grey);
    height: 100%;
    border-left: 2px dashed var(--grey);
    margin: 0;
    padding: 0 0 0 .5rem;
    .epoch-name {
        background: var(--bg);
        top: 1rem;
        left: .5rem;
        position: relative;
        overflow: hidden;
        text-overflow: clip;
        text-wrap: nowrap;
        display: block;
    }

}

.era {
    top: 0;
    position: absolute;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 1.2rem;
    color: var(--grey);
    border-left: 1px dashed var(--grey);
    &.noborder {
        border: none;
    }
    .era-name {
        position: relative;
        top: 4rem;
        background: var(--bg);
    }
}

#main-logo {
    position: fixed;
    pointer-events: none;
    padding: 1rem;
    top: 0;
    right: 0;
    z-index: 1200;
}

#settings {
    position: fixed;
    bottom: 2rem;
    display: flex;
    margin-left: 15rem;
    z-index: 500;
}

.settings-group {
    display: flex;
    align-items: center;
}

#settings-container {
    width: calc(100vw - 30rem);
    display: flex;
    justify-content: center;
    z-index: 500;
}

#settings-cutoff {
    display: flex;
    align-items: center;
    padding: 0 3rem 0 .5rem;
}

.category-toggle {
    height: 100%;
}

.timeline {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bg);
    .timeline-year {
        position: absolute;
        font-size: 2rem;
        bottom: .5rem;
    }
    #timeline-start {
        left: 1rem;
    }
    #timeline-end {
        right: 1rem;
    }
    .entry {
        position: absolute;
        bottom: 15rem;
        cursor: pointer;
        z-index: 1000;
        
        .entry-tooltip {
            display: none;
        }
        &:hover {
            .entry-tooltip {
                display: block;
                position: absolute;
                top: 4.5rem;
                left: -.5rem;
                padding: 1rem;
                z-index: 2000;
                width: 20rem;
            }
        }
        .entry-name {
            text-wrap: nowrap;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .entry-modal {
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: .1s ease-in-out;
        &.visible {
            opacity: 1;
            pointer-events: all;
        }
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        position: fixed;
        cursor: pointer;
        .entry-modal-content {
            position: relative;
            cursor: default;
            font-size: 1.5rem;
            max-width: 700px;
        }
        .title {
            font-size: 3.5rem;

        }
        .close {
            font-size: 3rem;
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 2rem;
            top: 2rem;
        }
    }
}

.hidden-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: .2s ease-in-out;
    justify-content: end;
    align-items: center;
    &.visible {
        opacity: 1;
        pointer-events: all;
        .hidden-modal-content {
            right: 5rem;
        }
    }
    .hidden-modal-content {
        position: relative;
        transition: .2s ease-in-out;
        right: -33vw;
        width: 18vw;
        max-height: 80vh !important;
        overflow: scroll;
        .close {
            position: absolute;
            right: 2rem;
            top: 2rem;
            font-size: 3rem;
        }
        .title, .subtitle {
            font-size: 2rem;
        }
        .hidden-entry {
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
            width: 15vw;
        }
        .hidden-entry-people {
            background: var(--blue);
            color: var(--white);
        }
        .hidden-entry-events {
            background: var(--red);
            color: var(--white);
        }
        .hidden-entry-works {
            background: var(--green);
        }
    }
}


/* range shenanigans */

[type=range] {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
    margin: 0;
    padding: 0;
    width: 12.5em;
    height: 1.5em;
    background: transparent;
    font: 1em/1 arial, sans-serif;
}

[type=range],
[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .5rem;
    border-radius: 15px;
    background: var(--black);
}

.js [type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(#95a, #95a) 0/var(--sx) 100% no-repeat var(--black);
}

[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .5rem;
    border-radius: 15px;
    background: var(--black);
}

#start-slider::-moz-range-track {
    background: var(--blue);
    z-index: 50;
}

[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .5rem;
    border-radius: 15px;
    background: var(--black);
}

#start-slider::-ms-track {
    background: var(--blue);
    z-index: 50;
}

[type=range]::-moz-range-progress {
    height: .5rem;
    border-radius: 15px;
    background: var(--blue);
}

#start-slider::-moz-range-progress {
    background: var(--black)
}

[type=range]::-ms-fill-lower {
    height: .5rem;
    border-radius: 15px;
    background: var(--blue);
}

#start-slider::-ms-fill-lower {
    background: var(--black)
}

[type=range]::-webkit-slider-thumb {
    margin-top: -0.625em;
    box-sizing: border-box;
    border: none;
    width: .8rem;
    height: 2.5rem;
    border-radius: 5px;
    background: var(--blue);
    border: .4rem solid var(--blue);
    cursor: pointer;
    z-index: 100;
}

[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: .8rem;
    height: 2.5rem;
    border-radius: 5px;
    background: var(--blue);
    border: .4rem solid var(--blue);
    cursor: pointer;
    z-index: 100;
}

[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: .8rem;
    height: 2.5rem;
    border-radius: 5px;
    background: var(--blue);
    border: .4rem solid var(--blue);
    cursor: pointer;
    z-index: 100;
}

[type=range]::-ms-tooltip {
    display: none;
}